<!DOCTYPE html>
<html>
    <head>
        <!--Define title-->
        <title>List View App</title>
        
        <!--You can load all the css files here -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
    </head>
    
    <body>
        <!--HTML content goes here-->
         <ul id="list">
         </ul>
         <input id="input" type="text"></input>
         <div id="alert"></div>
         <button id="button" type="button">Insert</button>
        
        <!--You can load all the javascript files here-->
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
